@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


#indexLogin > div{
    display: inline-block;
}

img.main-logo {
    width: 7rem;
    position: relative;
    margin-top: 17%;
    left: 10%;
}

.login-img {
    background: #f2f2f2;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.login-reg {
    position: relative;
    top:32%;
}

.login-content {
    display: flex;
    align-items: center;
    height: 84vh;
    width: 40vw;
}

/*form.login-content {
    margin: 0 auto;
}*/

input.form-control-kbits {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    width: 80%;
    display: block;
}

.form-group-kbits {
    margin-bottom: 12%;
    position: relative;
    margin-left: 18%;
    width: 32vw;
}

.form-group-login-btn {
    width:  40vw;
    position: relative;
    left: 9rem;
    top: 4.5rem;
}

.fancy-btn {
  background-color: #0abab5; 
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.4rem 7rem;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;*
  align-self: center;
}

label {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

